# No olvidar actualizar con las de programa las que están en los scripts
# Librerias para el programa
ConfigArgParse
#cpickle

bs4
MechanicalSoup
babel

XlsxWriter==1.0.2


# Librerias para dev
pytest
flake8
ipython
ipdb
watchdog
isort
flake8-isort
ipykernel
PyQt5
spyder
