# No olvidar actualizar con las de programa las que están en los scripts
# Librerias para el programa
ConfigArgParse

bs4
MechanicalSoup
babel
pandas

joblib
XlsxWriter==1.3.7

#Guesser
distributed

fpdf
