# No olvidar actualizar con las de programa las que están en los scripts
# Librerias para el programa
ConfigArgParse

bs4
MechanicalSoup
babel
pandas

joblib
XlsxWriter==1.0.2


#Guesser
pyspark

# Librerias para dev
pytest
flake8
ipython
ipdb
watchdog
isort
flake8-isort
ipykernel
matplotlib
