GitPython==3.1.43
astroid<=2.17.0-dev0
asttokens==2.4.1
comm==0.2.2
debugpy==1.8.1
dill==0.3.8
executing==2.0.1
filelock==3.14.0
flake8-isort==6.1.1
flake8<6.0.0 # Pinned by prospector
graphviz==0.20.3
identify==2.5.36
ipdb
ipykernel==6.29.4
ipython==8.24.0
isort==5.13.2
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==5.7.2
nest-asyncio==1.6.0
pep8-naming<=0.10.0 #Pinned by prospector
pipdeptree==2.20.0
platformdirs==4.2.2,<5
pluggy==1.5.0
pre-commit==3.7.1
prompt-toolkit==3.0.43
prospector==1.10.3
psutil==5.9.8
pycodestyle<2.10.0  # Pinned by flake8
pyflakes<3 # Pinned flake8
pygments==2.18.0
pylint-celery<=0.3
pylint-django<2.5.5
pylint-flask<=0.6
pylint-plugin-utils<0.8 # Pinned by prospector
pylint<3 #Pinned by prospector
pytest==8.2.0
pyzmq==26.0.3
setuptools==69.5.1
stack-data==0.6.3
tomlkit==0.12.5
tornado==6.4
traitlets==5.14.3
virtualenv==20.26.2
vulture==2.11
watchdog==4.0.0
wcwidth==0.2.13
