# No olvidar actualizar con las de programa las que están en los scripts
# Librerias para el programa
ConfigArgParse==1.7

beautifulsoup4
  soupsieve==2.5
MechanicalSoup==1.3.0
lxml==4.9.3
requests==2.31.0
certifi==2023.7.22
urllib3
charset-normalizer==3.3.0

babel==2.13.0
pandas==2.1.1
  pytz==2023.3.post1

scipy==1.11.3
numpy==1.26.0
seaborn==0.13.0
matplotlib
  contourpy==1.1.1
  cycler==0.12.1
  pyparsing==3.1.1
fonttools==4.43.1
kiwisolver==1.4.5
packaging==23.2
Pillow==10.0.1

XlsxWriter==3.1.6

#Guesser
#distributed
#joblib

#Programas
#fpdf
reportlab==4.0.5
#Dependencias (añadidas por vulnerabilidades detectadas)

