#Repo del que descargar el código de los programs (no los scripts)
export SM_REPO="https://github.com/cesaralba/jimenezIntelligence.git"
export SM_BRANCH=prod

#Ubicación del Virtual Environment de Python
export VENVHOME=MYVENVHOME/SACBenv

#Edición (año) de la liga (para copa es el anterior)
export SM_EDICION=2023
export SM_COMPETICION=LACB
#Clave usada en el fichero
export FILEKEY=2023

export SM_STOREBIO=true
export SM_STOREPLANT=true

export SM_DATADIR=MYDATA/SuperManager

export SM_VERBOSE=0
export SM_DEBUG=0
export SM_DEBUGSCRIPTS=0
